header{
    font-size: 50px;
    text-align:center;
}

#bakgrund{
    background-image:url(img/snow_winter_trees.jpg);
    border:solid;
    border-color:#D6001C;
    border-width: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

h1{
    font-family:'Mountains of Christmas';
    display: flex;
    justify-content: space-around;
}

nav{
    margin:10px;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    border:solid;
    border-color:#D6001C;
    border-width: 5px;
    border-radius: 5px;
}

nav img{
    padding: 5px;
    border:solid;
    border-color: black;
    border-width:3px;
    width:100px;
    border-radius: 5px;
}

#main{
    margin:10px;
    padding: 10px;
    display:flex;
    border:solid;
    border-color:#D6001C;
    border-width: 5px;
    border-radius: 5px;
}

aside{
    width:30%;
    display:flex;
    flex-direction: column;
    border:solid;
    border-color:#D6001C;
    border-width: 5px;
    border-radius: 5px;
    
}

aside img{
    width: 100px;
    padding: 5px;
    border: solid;
    border-color:black;
    border-radius: 5px;
}

aside a{
    padding: 10px;
    display: flex;
    justify-content: center;
}

article{
    border:solid;
    border-color:#D6001C;
    border-width: 5px;
    border-radius: 5px;
}

#hoger img{
    width:90%;
    height:500px;
    border:solid;
    border-color:#D6001C;
    border-width: 5px;
    border-radius: 5px;
}

footer{
    text-align:center;
    border:solid;
    border-color:#D6001C;
    border-width: 5px;
}